/* CONTENEDOR DERECHO */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* FECHA */
#fechaHora {
  font-size: 0.95rem;
  color: #ecf0f1;
}

/* PERFIL */
.perfil {
  position: relative;
  cursor: pointer;
}

.icono {
  font-size: 1.4rem;
  color: #bdc3c7; /* grisito */
}

/* MENU DESPLEGABLE */
.menu-perfil {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  background: #FFF9F4;
  border-radius: 8px;
  overflow: hidden;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* BOTONES MENU */
.menu-perfil button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #FFF9F4;
  cursor: pointer;
  text-align: left;
}

/* HOVER CELESTE */
.menu-perfil button:hover {
  background: #3498db;
  color: white;
}

/* ACTIVAR MENU */
.menu-perfil.activo {
  display: block;
}
body {
  margin: 0;
  padding-top: 80px; /* altura del navbar */
}

/* CONTENEDOR */
.panel-opciones {
  display: flex;
  justify-content: center;
  gap: 40px; /* separación entre tarjetas */
  margin-top: 40px;
}

/* TARJETAS */
.card-opcion {
  background: #3498db;
  color: white;
  padding: 25px 20px;
  border-radius: 12px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: all 0.2s ease;
}

/* HOVER */
.card-opcion:hover {
  background: #2980b9;
  transform: translateY(-5px);
}

